body{
    background-color: lavender;
    font-family: Arial;
}
header{
    background-color: violet;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: skyblue;
    padding: 20px;
    text-align:center;
}
.aboutsection{
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
}
.favoritesection{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}
footer{
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
}
